h5-backend/modelCNN_atas.h5 filter=lfs diff=lfs merge=lfs -text
h5-backend/modelDenseNet121_bawah.h5 filter=lfs diff=lfs merge=lfs -text
h5-backend/modelVGG16_samping.h5 filter=lfs diff=lfs merge=lfs -text
